<div class="booyah-box h3 col-10 offset-1">
<h1>Edit Your Estate</h1>
  <%= simple_form_for @estate do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <br />
    <%= f.submit 'Update', class: 'btn btn-primary' %>
  <% end %>
</div>