<h1>Mr Estate Sales Showing, Products and More.</h1>

<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h2>Register For Up To Date Estate Sales</h2>
    <br />
    <%= link_to 'Sale Notification', new_user_registration_path, class: 'btn btn-success' %>
  </div>
</div>
<br /><br />


<% @estates.each do |estate| %>
  <div class="booyah-box h3 col-10 offset-1">
    <h3><%= estate.name %></h3><br />
    <i><%= estate.address %></i><br />

    <% if estate.user.present? %>
      <small><%= estate.user.email %></small>
    <% end %>
  </div>
<% end %>